<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="screen_capture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <screen_capture.Properties.Settings>
            <setting name="CAPTURE_SELECTION_MOD" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CAPTURE_SELECTION_KEY" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="CAPTURE_SELECTION_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="IMG_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="IMG_NAMING" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GIF_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="GIF_NAMING" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAPTURE_ALL_MOD" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CAPTURE_ALL_KEY" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="CAPTURE_ALL_TEXT" serializeAs="String">
                <value>Ctrl+W</value>
            </setting>
            <setting name="AlwaysTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IMG_NUM_RECT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GIF_NUM_RECT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IMG_AUTOSAVE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IMG_FORMAT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GIF_AUTOSAVE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GIF_QUALITY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMG_SELECTION" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IMG_ALL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GIF_SELECTION" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GIF_ALL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RECORD_SELECTION_MOD" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="RECORD_SELECTION_KEY" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="RECORD_SELECTION_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="RECORD_ALL_MOD" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="RECORD_ALL_KEY" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="RECORD_ALL_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="IMG_0_POS" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="IMG_0_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="IMG_1_POS" serializeAs="String">
                <value>130, 130</value>
            </setting>
            <setting name="IMG_1_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="IMG_2_POS" serializeAs="String">
                <value>160, 160</value>
            </setting>
            <setting name="IMG_2_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="IMG_3_POS" serializeAs="String">
                <value>190, 190</value>
            </setting>
            <setting name="IMG_3_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="IMG_4_POS" serializeAs="String">
                <value>220, 220</value>
            </setting>
            <setting name="IMG_4_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="IMG_5_POS" serializeAs="String">
                <value>250, 250</value>
            </setting>
            <setting name="IMG_5_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="IMG_6_POS" serializeAs="String">
                <value>280, 280</value>
            </setting>
            <setting name="IMG_6_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="IMG_7_POS" serializeAs="String">
                <value>310, 310</value>
            </setting>
            <setting name="IMG_7_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="IMG_8_POS" serializeAs="String">
                <value>340, 340</value>
            </setting>
            <setting name="IMG_8_RES" serializeAs="String">
                <value>230, 188</value>
            </setting>
            <setting name="IMG_9_POS" serializeAs="String">
                <value>370, 370</value>
            </setting>
            <setting name="IMG_9_RES" serializeAs="String">
                <value>230, 188</value>
            </setting>
            <setting name="GIF_0_POS" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="GIF_0_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="GIF_1_POS" serializeAs="String">
                <value>130, 130</value>
            </setting>
            <setting name="GIF_1_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="GIF_2_POS" serializeAs="String">
                <value>160, 160</value>
            </setting>
            <setting name="GIF_2_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="GIF_3_POS" serializeAs="String">
                <value>190, 190</value>
            </setting>
            <setting name="GIF_3_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="GIF_4_POS" serializeAs="String">
                <value>220, 220</value>
            </setting>
            <setting name="GIF_4_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="GIF_5_POS" serializeAs="String">
                <value>250, 250</value>
            </setting>
            <setting name="GIF_5_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="GIF_6_POS" serializeAs="String">
                <value>280, 280</value>
            </setting>
            <setting name="GIF_6_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="GIF_7_POS" serializeAs="String">
                <value>310, 310</value>
            </setting>
            <setting name="GIF_7_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="GIF_8_POS" serializeAs="String">
                <value>340, 340</value>
            </setting>
            <setting name="GIF_8_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="GIF_9_POS" serializeAs="String">
                <value>370, 370</value>
            </setting>
            <setting name="GIF_9_RES" serializeAs="String">
                <value>280, 188</value>
            </setting>
            <setting name="GIF_FRAME" serializeAs="String">
                <value>0</value>
            </setting>
        </screen_capture.Properties.Settings>
    </userSettings>
</configuration>